/* GLOBAL STYLES START */
@font-face {
    font-family: 'bpg-arial';
    src: url('fonts/bpg/bpg-arial-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/bpg/bpg-arial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/bpg/bpg-arial-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/bpg/bpg-arial-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/bpg/bpg-arial-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/bpg/bpg-arial-webfont.svg#bpg_arialregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'arial-caps';
    src: url('fonts/arial-caps/bpg-arial-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/arial-caps/bpg-arial-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/arial-caps/bpg-arial-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/arial-caps/bpg-arial-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/arial-caps/bpg-arial-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/arial-caps/bpg-arial-caps-webfont.svg#bpg_arial_capsregular') format('svg'); /* Legacy iOS */
}

* {
  margin:0;
  padding: 0;
}

body {
  overflow-x:hidden;

}

a {
  text-decoration: none;
  font-weight: normal;
}

li {
  list-style:none
}

p, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h3 {
  font-family:$mainFont;
}

p {
  font-family:$textFont;
}

.btn-default {
  border-radius:0;
}
/* GLOBAL STYLES END */
