.right {
  float:right;
}

.left {
  float:left;
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.clear {
    clear: both;
}

.line {
  @include fadeInUp();
  width: 80px;
  height: 3px;
  background: $grey;
  margin:10px auto;

}

.marginTop {
  margin-top:2em;
}

.marginBottom {
  margin-bottom: 2em;
}

.el-marginBottom {
  margin-bottom: 13px;
}

.blue {
  background:$blue $bgShadow no-repeat;
  background-size: cover;
}

.green {
  background:$green $bgShadow no-repeat;
  background-size: cover;
}

.orange {
  background:$orange $bgShadow no-repeat;
  background-size: cover;
}

.purple {
  background:$purple $bgShadow no-repeat;
  background-size: cover;
}

.red {
  background:$red $bgShadow no-repeat;
  background-size: cover;
}

.black {
  background: $lightBlack;
}



.no-gutter {
  padding:0 !important;
  margin:0 !important;
}


.favorite {
  position: absolute;
  z-index:11;
  right:10px;
  top:10px;
  color:$red;
  cursor: pointer;
}

.page-cover {
  width:100%;
  height:300px;
  background:$lightBlack url('../img/1.jpg') no-repeat;
  background-size:cover;
  background-attachment:fixed;
  h3 {
    text-align:center;
    font-family:$mainFont;
    color:$white;
    height:300px;
    line-height:0;
    font-size: 3em;
    font-weight: bolder;
    @include transform(translateY(150px));

  }
  img {
    width:100%;
    height:inherit;
  }
}
#about-text {
  font-family:$textFont;
  font-size:1.2em;
  color:$grey;
  text-align:center;
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $lightBlack;
  opacity: 0.7;
  display: none;
  z-index: -100;
}

 textarea {
  height: 100%;
  background: lighten($lightBlack, 5%);
  font-family: $mainFont;
  font-weight: normal;
  padding:0 5px;
  color: $white;
  font-size: 1.2em;
  height: 45px;
  border:none;
  outline: none;
  margin:3px 0px;
  border-radius: 0;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}


/* filter styles start */
.filter {
  @include fadeInUp();
  section {
    display: none;
    padding: 11px 5px 10px;
    border-top: 0px solid #ddd;
    form {
      div {
        margin:0;
        input, textarea {
          background: lighten($lightBlack, 5%);
          font-family: $mainFont;
          font-weight: normal;
          padding:0 5px;
          color: $white;
          font-size: 1.2em;
          height: 45px;
          border:none;
          outline: none;
          margin:2px 0px;
          border-radius: 0;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }

  .advanced {
    margin-bottom: 10px;
  }

  #tab1, #tab2, #tab3 {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 0px;
    font-family:$mainFont;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 0px solid transparent;
  }

  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }

  label[for*='1']:before { content: '\f002'; }
  label[for*='2']:before { content: '\f17d'; }


  label:hover {
    color: #888;
    cursor: pointer;
  }

  input:checked + label {
    color: $green;
    border: 0px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 0px solid #fff;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3
   {
    display: block;
  }

  #search {
    background: $green url('../img/filter.png') no-repeat;
    background-size: cover;

  }

  @media screen and (max-width: 650px) {
    label {
      font-size: 0;
    }
    label:before {
      margin: 0;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 400px) {
    label {
      padding: 15px;
    }
  }
}
/* filter styles end */

#top {
  height: 34px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: $lightBlack;
  color:$white;
  .top-bar {
    font-weight: 300;
    margin:0 auto;
    padding-top: 6px;
    .top-bar-left {
      #top-mail{
        font-size:.9em;
        padding-right: 15px;
        border-right: 1px solid darken($lightBlack, 10%);
      }
      #top-phone {
        padding-left: 10px;
        font-size:.9em;
      }
    }
    .top-bar-right {
      font-family: $textFont;
      .languages {
        img {
          display: inline-block;
          width: 18px;
        }
      }
    }
  }

  .colored-line {
    width: 100%;
    height: 3px;
    margin-top: 6px;
    background: linear-gradient(to right, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
  }
}


/* navigation styles */
#navigation {
  font-family: $mainFont;
  width: 100%;
  max-width: 100%;
  margin:0 auto;
  background:#fff;
  nav {
    background: none;
    border:none;
    .navbar-header {
      .navbar-brand {
        padding: 0;
        .logo {
            img {
              width: 50%;
            }
        }
      }
    }
    .mobile-bar {
      border-radius: 0;
    }
    #navbarCollapse{
      ul {
        position: relative;
       a {
          height: 40px;
          line-height: 40px;
          display:block;
          color:#333;
          &:hover {
            text-decoration: underline;
          }
        }
        .toggle {
          margin-top: 25px;
          margin-bottom: -10px;
        }
        li {
          position: relative;
          &:hover ul {
          @include fadeInUp();
          }
        }
        ul {
          @include fadeOutDown();
          position:absolute;
          top:100%;
          left:0;
          background:#fff;
          padding:7px 12px 5px;
          margin-top: 5px;
          border:1px solid $lightGray;
           li {
             margin-bottom:5px;
             border-bottom: 1px solid $lightGray;
              a {
                height: 35px;
                line-height: 35px;
                padding: 0 5px;
              }
           }
           &:before {
             content:'';
             position: absolute;
             bottom:100%;
             padding-top: 10px;
             left:20px;
             width: 0;
             height: 0;
             border-left: 7px solid transparent;
             border-right:7px solid transparent;
             border-bottom:7px solid $lightGray;
           }

           ul {
             top:0;
             left:100%;
           }
        }
      }
    }

    .toggle {

    }
  }
}
/* navigation styles END */




//sidebar styles start
.sidebar {
  @include position(fixed, 0px null 0 -240px);
  @include transition(all .3s ease);
  width:240px;
  overflow-y:scroll;
  overflow-x:hidden;
  padding:34px 14px;
  background:$lightBlack;
  z-index:0;
  font-size:1.2em;
  .fav-items {
    li {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom:20px;
      color:$lightGray;
      text-decoration:none;
      display:block;
      a {
        text-align:center;
        font-family:$mainFont;
        color:$lightGray;
        img {
          width:120px;
        }
        &:hover {
          text-decoration:none;
        }
      }
    }

  }
}

#sidebar-toggler {
  display:none;
  &:checked + .page-wrap {
    .sidebar {
      left:0px;
    }
    .wrapper {
      margin-left:240px;
    }
  }
}

.toggle {
  cursor:pointer;
}

.sidebar-close {
  position:absolute;
  cursor:pointer;
  top:5px;
  right:5px;
  color:$white;
}

//END sidebar Styles
