// START about us styles
.about-us {
  .page-image {
    width:100%;
    height:300px;
    background:$lightBlack url('../img/1.jpg') no-repeat;
    background-size:cover;
    background-attachment:fixed;
    h3 {
      text-align:center;
      font-family:$mainFont;
      color:$white;
      height:300px;
      line-height:0;
      font-size: 3em;
      font-weight: bolder;
      @include transform(translateY(150px));

    }
    img {
      width:100%;
      height:inherit;
    }
  }
  #about-text {
    font-family:$textFont;
    font-size:1.2em;
    color:$grey;
    text-align:center;
  }
}

//END about us
