/* responsive styles */
@media screen and (max-width:1024px) {
  .main-filter {
    margin:0 !important;
    display: none !important;
  }

  .left-filter{
    margin-bottom: 20px !important;
  }
  .new-tour {
    padding-left: 0 !important;

    .single-el {
      margin-top: 20px;
      .text {
         ul {
          margin-bottom: 5px !important;
        }
      }
    }
  }
}

@media screen and (max-width:996px) {
  #navigation nav #navbarCollapse ul a {
    margin-right: -19px !important;
    font-size: 12px !important;
  }
  .dropdown {
    display: none;
  }

  .navbar-collapse {
    border:none;
  }
}


@media screen and (max-width:520px) {
  #top-mail {
    display: none;
  }
}
