/* // START tour-details styles */
#tour-details {
  @include fadeInUp();
  #about-text {
    font-family:$textFont;
    font-size:1.2em;
    color:$grey;
    text-align:center;
  }
  .flexslider {
    .slides {
      border-top:0px solid $green;
    }
  }

  .book-it {
    #content1, #content2 {
      padding:15px;
    }
    input {
      margin:10px 0;
    }
    textarea {
      padding:5px 7px;
      height:100px;
    }
  }

  #contact-phone {
    font-size:2.5em;
    color:$orange;
    text-align: center;
  }

  .tour-name {
    height: 26px;
    line-height: 26px;
    background: $white;
    color:$red;
    font-size:1.8em;
    font-family:$mainFont;
    margin-bottom:10px;
    h3 {
      float:left;
      text-align:left;
    }

    #tour-cat {
      float:right;
      font-family:$mainFont;
      font-size:.6em;
      color:$green;
      text-align:right;
    }
  }
  .people {
    height: 100px;
    line-height: 100px;
    background: $red $bgShadow no-repeat;
    background-size:cover;
    color:$white;
    text-align:center;
    font-size:1.7em;
    font-family:$mainFont;
    margin-bottom:10px;
  }
  .use-visa {
    height: 80px;
    line-height: 80px;
    background: $orange $bgShadow no-repeat;
    background-size:cover;
    color:$white;
    text-align:center;
    font-size:1.4em;
    font-family:$mainFont;
    margin-bottom:10px;
  }

  .list-group-item {
    font-family:$mainFont;
    color:$grey;
    &:first-child {
      border-top-right-radius:0 !important;
      border-top-left-radius:0 !important;
    }
    &:last-child {
      border-bottom-right-radius:0 !important;
      border-bottom-left-radius:0 !important;
    }

  }
  .badge {
    border-radius:0;
    text-transform:uppercase;
  }

  .panel-group .panel {
    font-family:$mainFont;
    color:$grey;
    border-radius:0;
    .panel-body {
      font-family:$textFont;
    }
  }
  .panel-default > .panel-heading {
    background:rgba(245, 245, 245, 0.5) !important;
  }

  .review {

  }

  .all-tours {
    .offers-tours{
      position:relative;
      border:1px solid lighten($lightBlack, 60%);
      margin-bottom: 10px;
      overflow:hidden;
      &:hover img{
        @include transform(scale(1.2) rotate(2deg));
        z-index:-1111;
      }
      &:hover h6 {
        opacity:1;
        @include transform(translate(-24%, -50%));
      }

      img {
        position: relative;
        width:100%;
        max-height:150px;
        height:150px;
        z-index: 9;
        margin:0;
        padding: 0;
        @include transition(all, 2.5s, ease-in-out);
        z-index:1;
        @media screen and (max-width: 767px) {
          height:auto !important;
          max-height:auto !important;
        }

      }
      h6 {
        @include position(absolute, 23% null null 44%);
        opacity:0;
        @include transition(opacity, .3s, ease-in);
        padding: 10px 20px;
        color:$white;
        z-index: 20;
        border: 1px solid $white;
      }
      h3 {
        position: absolute;
        left:0;
        top:0;
        z-index: 10;
        background: $white;
        color:lighten($lightBlack, 40%);
        font-weight: 100;
        font-family: arial;
        border:1px solid lighten($lightBlack, 60%);
        padding:7px 20px;
        font-size:1.4em;
        margin:0;
        opacity: .9;
      }
      p {
        color:$white;
        background: $lightBlack;
        width: 100%;
        margin:0;
        height:45px !important;
        line-height:45px !important;
        font-family: $mainFont;
        font-size:1.3em;
        padding-left: 0px;
        #tour-title {
          padding-left: 15px;
        }
      }

      .caption {
        display: block;
        height: 40px;
        width: 100%;
        line-height: 40px;
        background: $blue;
        font-family: $textFont;
        color:$white;
        z-index:10;
        div {
          display: inline-block;
          width: 48%;
          h4 {
            margin-top: 0;
            height: 40px;
            line-height: 40px;
            padding-left: 15px;
          }
          #continent {
            background: darken($blue, 8%) $bgShadow no-repeat;
          }
        }
      }
      .info {
        display:inline-block;
        margin:24px 15px;
        a {
          padding: 12px 18px;
          color:$grey;
          font-family:$mainFont;
          background: $white;
          border:1px solid lighten($grey, 20%);
        }
      }
      .video {
        display:grid !important;
        padding:12px;
        color:darken($grey, 28%);
        background: $white;
        border:1px solid lighten($grey, 20%);
      }
    }
  }
}
/* //END TOUR DETAILS STYLES */
