$white: #ffffff;
$black: #000000;
$lightBlack: #434A54;
$green: #09A5AB;
$grey:rgb(177, 177, 177);
$blue: #14B9D5;
$red: #F76570;
$purple: #C377E4;
$orange: #F3A46B;

$lightGray: lighten($grey, 20%);

$mainFont: 'arial-caps';
$textFont:'bpg-arial';

$bgShadow: url('../img/filter.png');
